body {
    margin: 0px;
}

.block-heading_block {
    text-align: center;
}

/* .stay_center {
    text-align: center;
} */

.container {
    margin: 2vh auto;
    padding-left: 3vh;
    padding-right: 3vh;
    height: 96vh;
    max-width: 80vh;
}

.image_content {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.image_content img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:50vh;
}

.rich-text {
    text-align: center;
}

.rich-text p {
    text-align: left;
}

.rich-text img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:50vh;
}