/* body {
    margin: 0px;
}
 */
.block-heading_block {
    text-align: center;
}

.container {
    margin: 2vh auto;
    padding-left: 3vh;
    padding-right: 3vh;
    height: 96vh;
    max-width: 80vh;
}

.image_content {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.image_content img,
.rich-text img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:65vh;
}

audio {
    margin: 3vh;
}